
* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 24px;
    line-height: 32px;
    color: #333;}

  img {
    max-height: 400px;
    float: left;
      }

  #fixed {
    position: fixed;
    top: 0;
    left: 0;
    padding: 40px;
    margin: 0;
    text-align: center;
    background: #eee;
  }
  
  .wrapper {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 45px;
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
  }
  
  p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 28px;
  }
  
  #relative {
    position: relative;
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: #eee;
  }
  
  #absolute {
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 250px;
    padding: 20px;
    text-align: center;
    background: #999;
  }

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
  padding: 6em 0;
  background-image: url('../img/code.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-size: 2em;
    color: #ffffff;
}

.masthead-heading {
    margin-top: -0.2em;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
}

.details {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.details > p {
    font-weight: 300;
    letter-spacing: 0.05em;
}

.details > h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 1em 0;
}

#footer a {
color: #ffffff;
      }

.social > li {
display: inline-block;
margin: 0 5px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
}